<div class="jumbotron">
    <h1>HR PayRoll Backend API</h1>
    <p class="lead">This is the backend API that handles requests from the payroll Angular app.</p>
    <p>Coded by Apurba Nath.</p>
</div>

